# ===========================
# Python (backend)
# ===========================
__pycache__/
*.pyc
venv/
env/
back/Project/.env

# ===========================
# Flutter (frontend)
# ===========================
build/
.dart_tool/
.packages
pubspec.lock
ios/Pods/
android/.gradle/
.android/
.flutter-plugins
.flutter-plugins-dependencies

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
